<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wangkee.mapper.FriendshipMapper">
    
    <select id="queryMyFriends" resultType="com.wangkee.vo.FriendShipBriefVO">
        select
            fr.id as friendShipId,
            fr.user_id as userId,
            fr.friend_id as friendId,
            u.nickname as friendNickname,
            u.avatar as friendAvatar,
            fr.remark as remark,
            fr.chatonly as chatOnly,
            fr.blocked as blocked
        from
            friendship as fr
        left join
            user as u
        on
            fr.user_id = u.id
        where
            fr.user_id = #{userId}
        and
            <if test="!isBlocked">
                fr.blocked = 0
            </if>

            <if test="isBlocked">
                fr.blocked = 1
            </if>
        order by
            u.nickname
    </select>
</mapper>
